aiohttp==2.2.5
async-timeout==2.0.0
beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2017.4.17
cffi==1.11.2
chardet==3.0.4
git+https://github.com/Rapptz/discord.py@rewrite#egg=discord.py[voice]
gitdb2==2.0.2
GitPython==2.1.5
idna==2.5
multidict==3.2.0
olefile==0.44
opuslib==1.1.0
Pillow==4.3.0
pycparser==2.18
PyNaCl==1.1.2
redis==2.10.6
requests==2.18.1
six==1.11.0
smmap2==2.0.3
urllib3==1.21.1
virtualenv==15.1.0
websocket-client==0.44.0
websockets==6.0
yarl==0.13.0
youtube-dl==2017.7.15
lxml==3.4
